.ailgn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.session-label {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--text-sub);
}

.session-value {
  font-size: 16px;
  color: var(--text-sub);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.session-value-division {
  margin-top: 7px;
}

.session-status {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
  margin-right: 12px;
  font-size: 18px;
}

.remaining-time {
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  gap: 10px;
  letter-spacing: 0.03em;
  font-size: 82px;
}

.remaining-time-divider {
  margin-top: -8px;
}
