.ailgn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.sessionLabel {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--text-sub);
}

.sessionValue {
  font-size: 16px;
  color: var(--text-sub);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.sessionValueDivision {
  margin-top: 7px;
}

.sessionStatus {
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
  margin-right: 12px;
  font-size: 18px;
}

.remainingTime {
  margin-top: -8px;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  gap: 10px;
  letter-spacing: 0.03em;
  font-size: 92px;
}

.remainingTimeDivider {
  margin-top: -8px;
}

/* セッション */
.sessionControls {
  display: flex;
  justify-content: center;
}

.sessionControlOuter {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  gap: 24px;
}

.sessionInputLabel {
  font-size: 12px;
  color: var(--text-sub);
}

.sessionInputOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/* 丸ボタン共通 */
.circleCounterButton {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  transition:
    transform 0.12s ease-out,
    box-shadow 0.12s ease-out,
    background 0.12s ease-out;
}

.circleCounterButton {
  width: 52px;
  height: 52px;
  background: #515154;
  fill: #d5d5d5;
  font-size: 20px;
  font-weight: 400;
}

/* 再生アイコン */
.sessionStartButton {
  margin-bottom: -24px;
  padding: 12px;
  background: #111827;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
